/*
Brandon Reyes
4/19/2024
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #ffe5dc; /* Light pink */
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/* Star rule for the table element */
table {
    width: 80%;
    margin: 0 auto;
    border: 3px solid #fd4d0c; /* Deep orange */
    box-shadow: 0 0 10px #792101; /* Dark red */
}

/* Star rule for the table TR, TH, and TD selectors */
table tr, table th, table td {
    border-collapse: collapse;
    padding: 2%;
}

/* Star rule for the caption element */
caption {
    font-size: 2em;
    padding: 2%;
    margin-top: 2%;
}

/* Star rule for TH and TD selectors */
th, td {
    border: 1px solid #a22c02; /* Dark orange */
}

/* Star rule for TD */
td {
    text-align: center;
}

/* Star rule for TR odd rows */
tr:nth-child(odd) {
    background-color: #fe9772; /* Light orange */
}
